{% extends 'base.html'%}

{% block title%} Edit User {%endblock%}

{%block header%} <h2>Edit User</h2> {%endblock%}

{%block body %}
<form action = '/users/{{user.id}}/edit' method = 'POST'>
    <label>First Name: </label>
    <input type = "text" name = "firstname"><br>
    <label>Last Name: </label>
    <input type = "text" name = "lastname"><br>
    <label>Image URL: </label>
    <input type = "text" name = "imgurl"><br>
    <button>Cancel</button>
    <button>Edit</button>
</form>
{%endblock%}